@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Concert+One&family=Tilt+Warp&display=swap');


* {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       /* border: 2px solid red; */
       --primary: rgba(255, 255, 0, 0.89)
}

#home {
       width: 100vw;
       height: 100vh;
       background: url("../img/bg.jpg");
       background-size: cover;
       background-repeat: no-repeat;
}

.home-overlay {
       box-sizing: border-box;
       height: 100%;
       width: 100%;
       background: linear-gradient(rgba(0, 0, 0, 0.436), rgba(0, 0, 0, 0.68), black);
       position: absolute;
       z-index: 0;
}

.home-action-con {
       position: relative;
       display: flex;
       height: 100%;
       width: 100%;
       z-index: 10;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       gap: 3rem;
}

.home-action-con>* {
       padding: 1.5rem;
}

.main-heading-con h1 {
       font-size: 10rem;
       color: white;
       font-family: "Concert One", sans-serif;
       font-weight: 400;
       letter-spacing: 0.3rem;

}



.home-btn-parent {
       display: flex;
       gap: 5rem;
       font-size: 1.5rem;
}

.home-btn-con button {
       appearance: none;
       background: transparent;
       border: 0;
       color: black;
       cursor: pointer;
       font: inherit;
       font-weight: 900;
       line-height: 1;
       padding: 1em 1.5em;
       position: relative;
       transition: filter var(--motion-duration);
       font-family: "Concert One", sans-serif;
       letter-spacing: 0.1rem;

}

.home-btn-con button:hover {
       filter: brightness(1.1);
}

.home-btn-con button:active {
       filter: brightness(0.9);
}

.home-btn-con button>span {
       display: block;
       position: relative;
       transition: transform var(--motion-duration) var(--motion-ease);
       z-index: 1;
}

.home-btn-con button:hover>span {
       transform: scale(1.05);
}

.home-btn-con button:active>span {
       transform: scale(0.95);
}

.home-btn-con button>svg {
       fill: rgba(255, 255, 0, 0.89);
       position: absolute;
       top: -5%;
       left: -5%;
       width: 110%;
       height: 110%;
}

.home-btn-con button>svg>path {
       transition: var(--motion-duration) var(--motion-ease);
}

.home-btn-con button:hover>svg>path {
       d: path("M0,0 C0,-5 100,-5 100,0 C105,0 105,100 100,100 C100,105 0,105 0,100 C-5,100 -5,0 0,0");
}

.home-btn-con button:active>svg>path {
       d: path("M0,0 C30,10 70,10 100,0 C95,30 95,70 100,100 C70,90 30,90 0,100 C5,70 5,30 0,0");
}

@media screen and (max-width:768px) {
       .main-heading-con h1 {
              font-size: 6rem;
       }

       .home-btn-con {
              font-size: 1rem;
       }
}

@media screen and (max-width:600px) {
       .main-heading-con h1 {
              font-size: 4rem;
       }

       .home-btn-parent {
              padding: 0.9rem;
       }
}

/*  login form */
.session {
       display: none;
}

.login {
       overflow: hidden;
       background-color: var(--primary);
       padding: 40px 50px;
       border-radius: 10px;
       position: absolute;
       top: 50%;
       left: 50%;
       width: 26%;
       -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
       transform: translate(-50%, -50%);
       -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
       -moz-transition: -moz-transform 300ms, box-shadow 300ms;
       transition: transform 300ms, box-shadow 300ms;
       box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
       display: flex;
       flex-direction: column;
       gap: 2rem;
       border: 2px solid var(--primary);
}

.login::before, .login::after {
       content: "";
       position: absolute;
       width: 600px;
       height: 600px;
       border-top-left-radius: 40%;
       border-top-right-radius: 45%;
       border-bottom-left-radius: 35%;
       border-bottom-right-radius: 40%;
       z-index: -1;
}

.login::before {
       left: 40%;
       bottom: -80%;
       background-color: rgba(69, 105, 144, 0.15);
       -webkit-animation: wawes 6s infinite linear;
       -moz-animation: wawes 6s infinite linear;
       animation: wawes 6s infinite linear;
}

.login::after {
       left: 35%;
       bottom: -75%;
       background-color: rgba(2, 128, 144, 0.2);
       -webkit-animation: wawes 7s infinite;
       -moz-animation: wawes 7s infinite;
       animation: wawes 7s infinite;
}

.login>input {
       font-family: "Asap", sans-serif;
       display: block;
       border-radius: 5px;
       font-size: 16px;
       background: white;
       width: 100%;
       border: 0;
       padding: 10px 10px;
       margin: 15px -10px;
}

.login>button {
       font-family: "Asap", sans-serif;
       cursor: pointer;
       color: #fff;
       font-size: 16px;
       text-transform: uppercase;
       width: 80px;
       border: 0;
       padding: 10px 0;
       margin-top: 10px;
       margin-left: -5px;
       border-radius: 5px;
       background-color: #f45b69;
       -webkit-transition: background-color 300ms;
       -moz-transition: background-color 300ms;
       transition: background-color 300ms;
}

.login>button:hover {
       background-color: #f24353;
}

.login>input {
       outline: none;
       padding: 1rem 0.5rem;
       font-size: 1.2rem;
}

.login h1 {
       font-family: "Concert One", sans-serif;
       color: black;
       text-align: center;
       font-size: 4.5rem;
}

@-webkit-keyframes wawes {
       from {
              -webkit-transform: rotate(0);
       }

       to {
              -webkit-transform: rotate(360deg);
       }
}

@-moz-keyframes wawes {
       from {
              -moz-transform: rotate(0);
       }

       to {
              -moz-transform: rotate(360deg);
       }
}

@keyframes wawes {
       from {
              -webkit-transform: rotate(0);
              -moz-transform: rotate(0);
              -ms-transform: rotate(0);
              -o-transform: rotate(0);
              transform: rotate(0);
       }

       to {
              -webkit-transform: rotate(360deg);
              -moz-transform: rotate(360deg);
              -ms-transform: rotate(360deg);
              -o-transform: rotate(360deg);
              transform: rotate(360deg);
       }
}

/* a {
       text-decoration: none;
       color: rgba(255, 255, 255, 0.6);
       position: absolute;
       right: 10px;
       bottom: 10px;
       font-size: 12px;
} */

#back-to-login-screen {
       height: 30px;
       background: #000;
       aspect-ratio: 1/1;
       border-radius: 0.5rem;
       color: white;
       display: flex;
       justify-content: center;
       align-items: center;
       cursor: pointer;
}

#dashboard {
       display: none;
       height: 100vh;
       width: 100vw;
       /* border: 10px solid yellow; */
}



/* DASHBOARD */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--c-gray-900: #000000;
	--c-gray-800: #1f1f1f;
	--c-gray-700: #2e2e2e;
	--c-gray-600: #313131;
	--c-gray-500: #969593;
	--c-gray-400: #a6a6a6;
	--c-gray-300: #bdbbb7;
	--c-gray-200: #f1f1f1;
	--c-gray-100: #ffffff;
	--c-green-500: #45ffbc;
	--c-olive-500: #e3ffa8;
	--c-white: var(--c-gray-100);
	--c-text-primary: var(--c-gray-100);
	--c-text-secondary: var(--c-gray-200);
	--c-text-tertiary: var(--c-gray-500);
}

body {
	line-height: 1.5;
	min-height: 100vh;
	font-family: "Be Vietnam Pro", sans-serif;
	background-color: var(--c-gray-900);
	color: var(--c-text-primary);
	display: flex;
	
	justify-content: center;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
}

button,
select,
input,
textarea {
	font: inherit;
}

a {
	color: inherit;
}

.responsive-wrapper {
	width: 90%;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

.app {
	min-height: 100%;
	width: 100%;
	max-width: 1600px;
	background-color: var(--c-gray-800);
	display: flex;
       padding: 1.5rem;
	flex-direction: column;
}

.app-header {
	display: flex;
       justify-content: space-between;
       column-gap: 4rem;
	align-items: flex-end;
}

@media (max-width: 1200px) {
	.app-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid var(--c-gray-600);
	}
}

.app-header-navigation {
	@media (max-width: 1200px) {
		display: none;
	}
}

.app-header-actions {
	display: flex;
	align-items: center;
}

@media (max-width: 1200px) {
	.app-header-actions {
		display: none;
	}
}

.app-header-actions-buttons {
	display: flex;
	border-left: 1px solid var(--c-gray-600);
	margin-left: 2rem;
	padding-left: 2rem;
}

.app-header-actions-buttons > * + * {
	margin-left: 1rem;
}

.app-header-mobile {
	display: none;
}

@media (max-width: 1200px) {
	.app-header-mobile {
		display: flex;
	}
}

.app-body {
	height: 100%;
	display: grid;
	grid-template-columns: minmax(min-content, 175px) minmax(max-content, 1fr) minmax(min-content, 400px);
	column-gap: 4rem;
	padding-top: 2.5rem;
}

@media (max-width: 1200px) {
	.app-body {
		grid-template-columns: 1fr;
	}

	.app-body > * {
		margin-bottom: 3.5rem;
	}
}

.app-body-navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media (max-width: 1200px) {
	.app-body-navigation {
		display: none;
	}
}

.app-body-sidebar {
}

.footer {
	margin-top: auto;
}

.footer h1 {
	font-size: 1.5rem;
	line-height: 1.125;
	display: flex;
	align-items: flex-start;
}

.footer h1 small {
	font-size: 0.5em;
	margin-left: 0.25em;
}

.footer > div {
	border-top: 1px solid var(--c-gray-600);
	margin-top: 1.5rem;
	padding-top: 1rem;
	font-size: 0.75rem;
	color: var(--c-text-tertiary);
}

.logo {
	display: flex;
	align-items: center;
	padding-bottom: 1rem;
	padding-top: 1rem;
	border-bottom: 1px solid var(--c-gray-600);
}

@media (max-width: 1200px) {
	.logo {
		border-bottom: 0;
	}
}

.logo-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
}

.logo-title {
	display: flex;
	flex-direction: column;
	line-height: 1.25;
	margin-left: 0.75rem;
}

.logo-title span:first-child {
	color: var(--c-text-primary);
}

.logo-title span:last-child {
	color: var(--c-text-tertiary);
}

.navigation {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: var(--c-text-tertiary);
}

.navigation a {
	display: flex;
	align-items: center;
	text-decoration: none;
	transition: 0.25s ease;
}

.navigation a i {
	margin-right: 0.75rem;
	font-size: 1.25em;
	flex-shrink: 0;
}

.navigation a + a {
	margin-top: 1.25rem;
}

.navigation a:hover,
.navigation a:focus {
	transform: translateX(4px);
	color: var(--c-text-primary);
}

.tabs {
	display: flex;
	justify-content: space-between;
	color: var(--c-text-tertiary);
	border-bottom: 1px solid var(--c-gray-600);
}

.tabs a {
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-decoration: none;
	border-top: 2px solid transparent;
	display: inline-flex;
	transition: 0.25s ease;
}

.tabs a.active,
.tabs a:hover,
.tabs a:focus {
	color: var(--c-text-primary);
	border-color: var(--c-text-primary);
}

.user-profile {
	display: flex;
	align-items: center;
	border: 0;
	background: transparent;
	cursor: pointer;
	color: var(--c-text-tertiary);
	transition: 0.25s ease;
}

.user-profile:hover,
.user-profile:focus {
	color: var(--c-text-primary);
}

.user-profile span:first-child {
	display: flex;
	font-size: 1.125rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid var(--c-gray-600);
	font-weight: 300;
}

.user-profile span:last-child {
	transition: 0.25s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	overflow: hidden;
	margin-left: 1.5rem;
	flex-shrink: 0;
}

.icon-button {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 0;
	background-color: transparent;
	border: 1px solid var(--c-gray-500);
	color: var(--c-text-primary);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.25s ease;
	flex-shrink: 0;
}

.icon-button.large {
	width: 42px;
	height: 42px;
	font-size: 1.25em;
}

.icon-button i {
	transition: 0.25s ease;
}

.icon-button:hover,
.icon-button:focus {
	background-color: var(--c-gray-600);
	box-shadow: 0 0 0 4px var(--c-gray-800), 0 0 0 5px var(--c-text-tertiary);
}

.tiles {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1rem;
	row-gap: 1rem;
	margin-top: 1.25rem;
}

@media (max-width: 700px) {
	.tiles {
		grid-template-columns: repeat(1, 1fr);
	}
}

.tile {
	padding: 1rem;
	border-radius: 8px;
	background-color: var(--c-olive-500);
	color: var(--c-gray-900);
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	transition: 0.25s ease;
}

.tile:hover {
	transform: translateY(-5px);
}

.tile:focus-within {
	box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-olive-500);
}

.tile:nth-child(2) {
	background-color: var(--c-green-500);
}

.tile:nth-child(2):focus-within {
	box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-green-500);
}

.tile:nth-child(3) {
	background-color: var(--c-gray-300);
}

.tile:nth-child(3):focus-within {
	box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-gray-300);
}

.tile a {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 600;
}

.tile a .icon-button {
	color: inherit;
	border-color: inherit;
}

.tile a .icon-button:hover,
.tile a .icon-button:focus {
	background-color: transparent;
}

.tile a:focus {
	box-shadow: none;
}

.tile a:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.tile-header {
	display: flex;
	align-items: center;
}

.tile-header i {
	font-size: 2.5em;
}

.tile-header h3 {
	display: flex;
	flex-direction: column;
	line-height: 1.375;
	margin-left: 0.5rem;
}

.tile-header h3 span:first-child {
	font-weight: 600;
}

.tile-header h3 span:last-child {
	font-size: 0.825em;
	font-weight: 200;
}

.service-section > h2 {
	font-size: 1.5rem;
	margin-bottom: 1.25rem;
}

.service-section-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.service-section-header > * + * {
	margin-left: 1.25rem;
}

@media (max-width: 1000px) {
	.service-section-header {
		display: none;
	}
}

.service-section-footer {
	color: var(--c-text-tertiary);
	margin-top: 1rem;
}

.search-field {
	display: flex;
	flex-grow: 1;
	position: relative;
}

.search-field input {
	width: 100%;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border: 0;
	border-bottom: 1px solid var(--c-gray-600);
	background-color: transparent;
	padding-left: 1.5rem;
}

.search-field i {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.dropdown-field {
	display: flex;
	flex-grow: 1;
	position: relative;
}

.dropdown-field select {
	width: 100%;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border: 0;
	border-bottom: 1px solid var(--c-gray-600);
	background-color: transparent;
	padding-right: 1.5rem;
	appearance: none;
	color: var(--c-text-tertiary);
}

.dropdown-field i {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.flat-button {
	border-radius: 6px;
	background-color: var(--c-gray-700);
	padding: 0.5em 1.5em;
	border: 0;
	color: var(--c-text-secondary);
	transition: 0.25s ease;
	cursor: pointer;
}

.flat-button:hover,
.flat-button:focus {
	background-color: var(--c-gray-600);
}

.mobile-only {
	display: none;
}

@media (max-width: 1000px) {
	.mobile-only {
		display: inline-flex;
	}
}

.transfer-section {
	margin-top: 2.5rem;
}

.transfer-section-header {
	display: flex;
	align-items: center;
	width: 100%;
	padding-bottom: 0.75rem;
	border-bottom: 1px solid var(--c-gray-600);
}

.transfer-section-header h2 {
	font-size: 1.5rem;
}

.payments {
	display: flex;
	flex-direction: column;
	margin-top: 1.5rem;
}

.payment {
	display: flex;
	align-items: center;
}

.payment + * {
	margin-top: 1rem;
}

.card {
	width: 125px;
	padding: 0.375rem;
	aspect-ratio: 3 / 2;
	flex-shrink: 0;
	border-radius: 6px;
	color: var(--c-gray-800);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 0.75rem;
	font-weight: 600;
}

.card.green {
	background-color: var(--c-green-500);
}

.card.olive {
	background-color: var(--c-olive-500);
}

.card.gray {
	background-color: var(--c-gray-300);
}

.card span:last-child {
	align-self: flex-end;
}

.payment-details {
	display: flex;
	width: 100%;
	flex-direction: column;
	margin-left: 1.5rem;
}

.payment-details h3 {
	font-size: 1rem;
	color: var(--c-text-tertiary);
}

.payment-details div {
	margin-top: 0.75rem;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	border-top: 1px solid var(--c-gray-600);
	border-bottom: 1px solid var(--c-gray-600);
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1;
}

.payment-details div span {
	font-size: 1.5rem;
}

.filter-options {
	margin-left: 1.25rem;
	padding-left: 1.25rem;
	border-left: 1px solid var(--c-gray-600);
	display: flex;
	align-items: center;
	flex: 1 1 auto;
}

.filter-options p + * {
	margin-left: auto;
	margin-right: 0.75rem;
}

.filter-options p {
	color: var(--c-text-tertiary);
	font-size: 0.875rem;
}

.transfers {
	display: flex;
	flex-direction: column;
	margin-top: 1.5rem;
}

.transfer {
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 0.875rem;
}

@media (max-width: 1000px) {
	.transfer {
		align-items: flex-start;
		flex-direction: column;
	}
}

.transfer + * {
	margin-top: 2rem;
}

.transfer-logo {
	background-color: var(--c-gray-200);
	border-radius: 4px;
	width: 42px;
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.transfer-logo img {
	width: 45%;
}

.transfer-details {
	margin-left: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1;
}

@media (max-width: 1000px) {
	.transfer-details {
		flex-wrap: wrap;
		margin-left: 0;
		margin-top: 1rem;
	}
}

.transfer-details div {
	width: calc(100% / 3 - 1rem);
}

.transfer-details div + div {
	margin-left: 1rem;
}

.transfer-details div:last-child {
	margin-left: 0;
}

.transfer-details dd {
	color: var(--c-text-tertiary);
	margin-top: 2px;
}

.transfer-number {
	margin-left: 2rem;
	font-size: 1.125rem;
	flex-shrink: 0;
	width: 15%;
	display: flex;
	justify-content: flex-end;
}

@media (max-width: 1000px) {
	.transfer-number {
		margin-left: 0;
		margin-top: 1.25rem;
		width: 100%;
		justify-content: flex-start;
	}
}

.payment-section > h2 {
	font-size: 1.5rem;
}

.payment-section-header {
	display: flex;
	align-items: center;
	margin-top: 1rem;
}

.payment-section-header p {
	color: var(--c-text-tertiary);
	font-size: 0.875rem;
}

.payment-section-header div {
	padding-left: 1rem;
	margin-left: auto;
	display: flex;
	align-items: center;
}

.payment-section-header div > * + * {
	margin-left: 0.5rem;
}

.card-button {
	display: flex;
	width: 50px;
	height: 34px;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-color: transparent;
	transition: 0.25s ease;
	border-radius: 4px;
	border: 2px solid var(--c-gray-600);
	color: var(--c-text-primary);
	cursor: pointer;
}

.card-button.mastercard svg {
	max-height: 15px;
}

.card-button:focus,
.card-button:hover,
.card-button.active {
	color: var(--c-gray-800);
	background-color: var(--c-white);
	border-color: var(--c-white);
}

.faq {
	margin-top: 1.5rem;
	display: flex;
	flex-direction: column;
}

.faq p {
	color: var(--c-text-tertiary);
	font-size: 0.875rem;
}

.faq div {
	margin-top: 0.75rem;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	border-top: 1px solid var(--c-gray-600);
	border-bottom: 1px solid var(--c-gray-600);
	font-size: 0.875rem;
	display: flex;
	align-items: center;
}

.faq div label {
	padding-right: 1rem;
	margin-right: 1rem;
	border-right: 1px solid var(--c-gray-600);
}

.faq div input {
	border: 0;
	background-color: transparent;
	padding: 0.25em 0;
	width: 100%;
}

.payment-section-footer {
	display: flex;
	align-items: center;
	margin-top: 1.5rem;
}

.save-button {
	border: 1px solid currentColor;
	color: var(--c-text-tertiary);
	border-radius: 6px;
	padding: 0.75em 2.5em;
	background-color: transparent;
	transition: 0.25s ease;
	cursor: pointer;
}

.save-button:focus,
.save-button:hover {
	color: var(--c-white);
}

.settings-button {
	display: flex;
	align-items: center;
	color: var(--c-text-tertiary);
	background-color: transparent;
	border: 0;
	padding: 0;
	margin-left: 1.5rem;
	cursor: pointer;
	transition: 0.25s ease;
}

.settings-button:focus,
.settings-button:hover {
	color: var(--c-white);
}

.settings-button i {
	margin-right: 0.5rem;
}

input:focus,
select:focus,
a:focus,
textarea:focus,
button:focus {
	outline: 0;
	box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-gray-300);
}
